{% extends 'layout.twig' %}

{% block title %}Youthweb hat Geburtstag{% endblock %}

{% block head %}{% endblock %}

{% block body %}
	<nav class="navbar navbar-light bg-faded">
		<span class="navbar-brand float-xs-right">
{% if current_user_data.is_logged_in %}
			Hallo {{ current_user_data.username }}{% if current_user_data.is_admin %} <span class="text-muted">(Admin)</span>{% endif %} <a class="btn btn-outline-primary" href="/logout" role="button">Logout</a>
{% else %}
			<a class="btn btn-primary" href="/join" role="button">Login mit Youthweb</a>
{% endif %}
		</span>
	</nav>
	<div class="jumbotron">
		<div class="container">
			<h1 class="display-4 text-xs-center text-sm-left">Youthweb hat Geburtstag</h1>
			<p class="text-xs-center text-sm-left">Am 1. Februar 2004 startete <a href="https://youthweb.net">Youthweb</a> und wird 2017 schon 13 Jahre alt. Gratuliere zu diesem Ereignis und hinterlasse deine persönlichen Glückwünsche auf dieser Seite.</p>
			<p class="text-xs-center text-sm-left">
{% if members_count == 0 %}
			Es wurden noch keine Glückwünsche abgegeben. Sei der Erste!
{% elseif members_count == 1 %}
			Es wurde bereits <strong>ein Glückwünsch</strong> abgegeben.
{% else %}
			Es wurden bereits <strong>{{ members_count }} Glückwünsche</strong> abgegeben.
{% endif %}
			</p>
{% if current_user_data.is_logged_in %}
			<form action="/join" method="post">
				<div class="form-group">
					<label for="message" class="text-xs-center text-sm-left">Hallo {{ current_user_data.username }}. Hinterlasse einen kurzen Glückwunsch:</label>
					<textarea class="form-control" id="message" name="message" rows="3" placeholder="&quot;Happy Birthday&quot; wäre ein guter Anfang..."></textarea>
				</div>
				<p class="text-xs-center text-sm-left"><button type="submit" class="btn btn-primary btn-lg">Absenden</button></p>
			</form>
{% else %}
			<p class="text-xs-center text-sm-left">Logge dich jetzt einfach ein und sei dabei.</p>
			<p class="text-xs-center text-sm-left"><a class="btn btn-primary btn-lg" href="/join" role="button">Login mit Youthweb</a></p>
{% endif %}
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="card-columns">
{% for member in members %}
				<div class="card">
					<img class="card-img-top img-fluid" src="{{ member.getPictureUrl }}" alt="" style="height: 100%; width: 100%; display: block;">
					<div class="card-block">
						<h4 class="card-title">{{ member.getUsername }}
							<div class="btn-group">
								<a href="https://youthweb.net/users/{{ member.getUserId }}" class="btn btn-outline-primary btn-sm">Zur MyPage</a>
{% if current_user_data.is_admin %}
								<button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="sr-only">Toggle Dropdown</span>
								</button>
								<div class="dropdown-menu">
									<button class="dropdown-item" type="submit" form="delete_post_{{ member.getId }}" /><i class="fa fa-trash" aria-hidden="true"></i> Diesen Beitrag</button>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#"><i class="fa fa-trash" aria-hidden="true"></i> Alle Beiträge dieses Users</a>
								</div>
								<form id="delete_post_{{ member.getId }}" action="/delete_post/{{ member.getId }}" method="post"></form>
{% endif %}
							</div>
						</h4>
						<p class="card-text text-muted">{{ member.getName }} ist seit dem {{ member.getMemberSince.format('d.m.Y') }} bei Youthweb.</p>
						<p class="text-xs-center">
							<i class="fa fa-quote-left" aria-hidden="true"></i><br />
							{{ member.getDescriptionMotto|nl2br }}
						</p>
						<p class="text-xs-center"></p>
					</div>
				</div>
{% endfor %}
			</div>
		</div>
	</div>
	<hr>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2>Technik</h2>
				<p>Diese Webseite verwendet die Youthweb-API, um dich einzuloggen. Sie wird dich nicht nach deinem Passwort fragen. Gib nie dein Passwort irgendwo außerhalb von Youthweb ein.</p>
				<p>Erfahre mehr zur Youthweb-API auf der Developer Plattform von Youthweb.</p>
				<p><a class="btn btn-secondary" href="http://developer.youthweb.net" role="button"><i class="fa fa-code" aria-hidden="true"></i> Zur Developer Webseite &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2>Datenschutz</h2>
				<p>Wenn du dich einloggst, verwendet diese Seite ein Cookie, um dich wiederzuerkennen. Beim Login wird nur deine User-ID gespeichert. Wenn du einen Glückwunsch hinterlässt, werden außerdem dein Username, Vor- und Nachname, Registrierungszeitpunkt und dein Glückwunschtext gespeichert und angezeigt.</p>
				<p>Diese Daten werden nur zur Anzeige auf dieser Webseite verwendet. Sie werden nicht weitergegeben und werden mit dem Abschalten dieser Webseite vollständig gelöscht.</p>
			</div>
			<div class="col-md-4">
				<h2>Open Source</h2>
				<p>Diese Seite besteht vollständig aus Open Source Software. Der Code für diese Webseite ist lizensiert unter GPL3. Du kannst den Quellcode dieser Webseite verwenden, um dein eigenes Youthweb-Event zu erstellen.</p>
				<p><a class="btn btn-secondary" href="https://github.com/Art4/youthweb-birthday" role="button"><i class="fa fa-github" aria-hidden="true"></i> Github &raquo;</a></p>
			</div>
		</div>
		<hr>
		<footer>
			<p><i class="fa fa-code" aria-hidden="true"></i> with <i class="fa fa-heart" aria-hidden="true"></i> in Düren <span class="text-muted">|</span> <a href="https://wlabs.de/kontakt">Kontakt</a> <span class="text-muted">|</span> License <a href="https://github.com/Art4/youthweb-birthday/blob/master/LICENSE">GPL3</a></p>
		</footer>
	</div>
{% endblock %}
